<template>
  <v-container>
    <v-layout row justify-center>
      <p>Использована технология Рерайтер</p>
      <sber-cloud-logo class="ml-5" url="https://sbercloud.ru/ru/datahub/rugpt3family/demo-rewrite"/>
    </v-layout>
    <v-layout column justify-center>
      <v-flex>
        <v-select label="режим ранжирования кандидатов" :items='["all", "bertscore", "classifier"]'
                  v-model="rangeMode"/>
        <v-textarea :readonly="loading" v-model="text" label="Введите текст"/>
        <v-btn :disabled="loading" @click="sendText" color="success">Отправить</v-btn>
      </v-flex>
      <v-flex>
        <v-skeleton-loader
            class="mb-10"
            :loading="loading"
            ref="skeleton"
            type="list-item"
            transition-group="scale-transition"
            width="300"
            :class="{'skeleton-loader': loading}"
        >
          <div v-if="items">
            <v-layout>
              <v-textarea v-if="predictionBest" v-model="predictionBest" readonly
                          label="лучший сгенерированный вариант по одной из метрик">
                {{ predictionBest }}
              </v-textarea>
            </v-layout>
            <v-layout>
              <v-flex>
                <v-expansion-panels multiple>
                  <v-expansion-panel v-for="(item, index) in items" :key="index">
                    <v-expansion-panel-header>{{ index + 1 }} вариант</v-expansion-panel-header>
                    <v-expansion-panel-content>{{ item }}</v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-flex>
            </v-layout>
          </div>
        </v-skeleton-loader>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import LoadMixin from '../mixins/LoadMixin'
import SberCloudLogo from "apps/components/SberCloudLogo";

export default {
  name: 'custom-main',
  components: {SberCloudLogo},
  mixins: [LoadMixin],
  data() {
    return {
      items: [],
      rangeMode: 'all',
      predictionBest: null,
      text: "Режим нерабочих дней, по заключениям экспертов, может прервать цепочку заражений коронавирусом, заявил пресс-секретарь президента России Дмитрий Песков.",
      activePanel: null
    }
  },
  methods: {
    async sendText() {
      if (!this.text) return
      this.beforeLoad()
      try {
        const requestData = {
          "instances": [
            {
              "text": this.text,
              "temperature": 0.9,
              "top_k": 50,
              "top_p": 0.7,
              "range_mode": this.rangeMode
            }
          ]
        }
        const {data} = await this.$ajax.post(this.$apiPath, requestData)
        this.items = data.predictions_all
        this.predictionBest = data.prediction_best && data.prediction_best.bertscore
        this.afterLoad()
      } catch (e) {
        this.$logError(e)
      }
    }
  }
}
</script>

<style>
.skeleton-loader {
  animation: skeleton-loader-animation 4s infinite ease-in-out;
}

@keyframes skeleton-loader-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

</style>
