<template>
  <v-footer absolute fixed padless app>
    <v-card class="flex" flat tile>
      <v-card-title>
        <v-btn
            v-for="contact in AuthorContacts"
            :key="contact.url"
            :href="contact.url"
            small icon
            :color="contact.color"
        >
          <v-icon>{{ contact.icon }}</v-icon>
        </v-btn>
        <v-spacer/>
        <div class="text-right author">
          Автор:
          <span class="initials ml-1">{{ AuthorName }}</span>
        </div>
      </v-card-title>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: 'custom-footer',
  computed: {
    AuthorName() {
      return this.$store.getters.AuthorData.name
    },
    AuthorContacts() {
      return this.$store.getters.AuthorData.contacts
    }
  }
}
</script>

<style scoped>
.author {
  font-size: 12px;
  color: #797979;
}

.author > .initials {
  text-decoration: underline;
}
</style>
