<template>
  <a aria-label="SberCloud logo" class="l-header__logo-link" data-qa="logo-link" :href="url">
    <svg class="l-header__logo" width="174" height="25" viewBox="0 0 174 25" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0)">
        <path
            d="M110.957 17.924C110.775 18.1458 110.52 18.3648 110.189 18.5808C109.859 18.7969 109.471 18.9928 109.024 19.1656C108.575 19.3385 108.077 19.4825 107.523 19.5949C106.97 19.7072 106.378 19.7619 105.747 19.7619C104.541 19.7619 103.449 19.5891 102.469 19.2405C101.49 18.892 100.652 18.3936 99.9594 17.7483C99.2668 17.103 98.7278 16.3108 98.3423 15.3774C97.9569 14.4441 97.7656 13.3869 97.7656 12.2029C97.7656 11.1024 97.954 10.0942 98.3336 9.17521C98.7133 8.25625 99.2494 7.46405 99.9507 6.79572C100.652 6.12738 101.495 5.60885 102.481 5.24011C103.469 4.87138 104.57 4.68701 105.79 4.68701C106.952 4.68701 107.946 4.83105 108.772 5.11624C109.598 5.40144 110.23 5.69815 110.662 6.00351V9.63613C110.438 9.31637 110.16 9.00236 109.833 8.69701C109.502 8.39165 109.132 8.12086 108.72 7.88176C108.306 7.64553 107.851 7.45252 107.355 7.30849C106.857 7.16157 106.335 7.08955 105.79 7.08955C104.993 7.08955 104.272 7.2163 103.625 7.46405C102.982 7.71467 102.434 8.06324 101.988 8.50688C101.539 8.95339 101.197 9.49209 100.959 10.1259C100.722 10.7596 100.603 11.4596 100.603 12.2259C100.603 12.9346 100.71 13.6 100.927 14.2194C101.145 14.8387 101.466 15.3774 101.892 15.8384C102.318 16.2964 102.854 16.6623 103.501 16.9359C104.144 17.2067 104.886 17.3508 105.726 17.3652C106.37 17.3652 106.961 17.296 107.5 17.1549C108.039 17.0166 108.529 16.8293 108.969 16.5902C109.41 16.354 109.798 16.0746 110.134 15.7548C110.47 15.4351 110.743 15.0865 110.954 14.712V17.924H110.957Z"
            fill="#07E897"></path>
        <path d="M116.715 17.1318H124.699V19.5343H114.09V4.91455H116.715V17.1318Z" fill="#07E897"></path>
        <path
            d="M125.349 12.2029C125.349 11.1024 125.534 10.0942 125.905 9.17521C126.276 8.25625 126.803 7.46405 127.49 6.79572C128.177 6.12738 129.003 5.60885 129.968 5.24011C130.933 4.87138 132.02 4.68701 133.225 4.68701C134.402 4.68701 135.477 4.85986 136.451 5.20843C137.424 5.557 138.253 6.05536 138.94 6.70065C139.627 7.34882 140.157 8.13814 140.537 9.0715C140.914 10.0049 141.105 11.0621 141.105 12.2461C141.105 13.3465 140.919 14.3548 140.548 15.2737C140.178 16.1927 139.647 16.9849 138.963 17.6532C138.276 18.3216 137.448 18.8401 136.474 19.2088C135.5 19.5776 134.419 19.7619 133.228 19.7619C132.052 19.7619 130.976 19.592 130.003 19.2492C129.029 18.9092 128.2 18.4138 127.513 17.7656C126.827 17.1174 126.296 16.3252 125.917 15.3861C125.537 14.447 125.349 13.3869 125.349 12.2029ZM128.122 12.223C128.122 12.9317 128.229 13.6 128.447 14.228C128.664 14.8532 128.988 15.3976 129.423 15.8557C129.858 16.3137 130.394 16.6795 131.032 16.9532C131.669 17.224 132.408 17.3594 133.249 17.3594C134.034 17.3594 134.735 17.2326 135.358 16.982C135.981 16.7314 136.515 16.3828 136.955 15.9392C137.396 15.4927 137.735 14.954 137.975 14.3202C138.213 13.6865 138.332 12.9864 138.332 12.2202C138.332 11.5115 138.221 10.8432 138.007 10.2152C137.79 9.59004 137.465 9.04558 137.03 8.58754C136.596 8.1295 136.06 7.76364 135.422 7.48997C134.784 7.21918 134.045 7.08379 133.205 7.08379C132.42 7.08379 131.713 7.21054 131.084 7.45829C130.455 7.70891 129.919 8.06036 129.475 8.51264C129.035 8.96491 128.699 9.50361 128.467 10.1316C128.238 10.7625 128.122 11.4568 128.122 12.223Z"
            fill="#07E897"></path>
        <path
            d="M146.796 13.5597C146.796 14.228 146.892 14.8013 147.08 15.2823C147.269 15.7634 147.533 16.1581 147.869 16.4721C148.205 16.7861 148.605 17.0137 149.066 17.1606C149.526 17.3075 150.031 17.3795 150.578 17.3795C151.685 17.3795 152.543 17.1001 153.152 16.5441C153.76 15.9881 154.065 15.0749 154.065 13.8074V4.91455H156.69V13.5395C156.69 14.6111 156.545 15.5416 156.258 16.3281C155.971 17.1145 155.557 17.7655 155.018 18.2812C154.479 18.7968 153.827 19.1771 153.065 19.4191C152.303 19.664 151.436 19.7849 150.471 19.7849C149.393 19.7849 148.46 19.6409 147.677 19.3557C146.892 19.0705 146.237 18.6643 145.713 18.1343C145.188 17.6042 144.8 16.9676 144.548 16.2243C144.296 15.4811 144.171 14.6399 144.171 13.7095V4.91455H146.796V13.5597Z"
            fill="#07E897"></path>
        <path
            d="M165.911 4.91455C168.641 4.91455 170.673 5.51951 172.003 6.7323C173.333 7.94221 174 9.67642 174 11.932C174 13.2687 173.8 14.4181 173.4 15.3774C173 16.3367 172.441 17.126 171.719 17.7367C170.997 18.3503 170.137 18.8026 169.134 19.0936C168.131 19.3874 167.036 19.5314 165.848 19.5314H160.849V4.91455H165.911ZM165.848 17.1318C167.682 17.1318 169.041 16.7083 169.922 15.8585C170.803 15.0087 171.247 13.7844 171.247 12.1827C171.247 10.555 170.815 9.33649 169.954 8.527C169.093 7.72039 167.731 7.31709 165.868 7.31709H163.474V17.1318H165.848Z"
            fill="#07E897"></path>
        <path
            d="M38.6267 11.0074C36.8995 10.6012 35.4071 10.2526 35.4071 9.0571C35.4071 7.45252 37.3922 7.27968 38.2471 7.27968C39.4324 7.27968 40.1047 7.441 40.9857 7.83854C41.4146 7.52454 43.3649 6.09569 43.3649 6.09569C42.0782 5.28044 40.1453 4.6438 38.2674 4.6438C33.7871 4.6438 32.1932 7.01177 32.1932 9.22706C32.1932 12.4189 34.984 13.0815 37.4473 13.6692C39.1774 14.0811 40.6698 14.4354 40.6698 15.654C40.6698 16.2791 40.296 17.3248 37.7863 17.3248C36.1229 17.3248 34.2972 16.7429 33.0047 15.8038L31.915 18.2784C33.2336 19.301 35.523 19.9578 37.766 19.9578C41.4812 19.9578 43.8836 18.166 43.8836 15.3947C43.8865 12.2403 41.09 11.5864 38.6267 11.0074Z"
            fill="currentColor"></path>
        <path
            d="M57.4922 12.0674L57.3386 12.0155L57.4806 11.9378C58.7065 11.2781 59.3817 10.1315 59.3817 8.71132C59.3817 6.32318 57.3444 4.89722 53.9306 4.89722H46.877V19.7014H54.3479C58.0631 19.7014 60.1091 18.2783 60.1091 15.6942C60.1091 13.937 59.1557 12.6147 57.4922 12.0674ZM50.0908 7.36313H53.5133C55.6723 7.36313 56.1244 8.35123 56.1244 9.17224C56.1244 10.362 55.2202 10.9813 53.5133 10.9813H50.0908V7.36313ZM50.0908 10.9842H53.5133H50.0908ZM54.0958 17.2383H50.0879V13.4473H54.0958C55.9244 13.4473 56.8518 14.0781 56.8518 15.3428C56.8547 16.6103 55.9534 17.2383 54.0958 17.2383Z"
            fill="currentColor"></path>
        <path
            d="M70.9975 7.36318L74.3621 4.90015H63.1006V19.7014H74.3621V17.2384H66.3144V13.4473H73.1768V10.9843H66.3144V7.36318H70.9975Z"
            fill="currentColor"></path>
        <path
            d="M90.0544 19.7014L86.7826 14.8934C88.7126 14.0551 89.8255 12.4074 89.8255 10.1978C89.8255 6.93107 87.3941 4.90015 83.4847 4.90015H77.3555V19.7043H80.5693V15.5099H83.4876C83.5803 15.5099 83.6702 15.507 83.76 15.5042L86.6145 19.7014H90.0544ZM80.5664 7.36318H83.4151C85.4727 7.36318 86.6087 8.37144 86.6087 10.2036C86.6087 12.0357 85.4756 13.044 83.4151 13.044H80.5664V7.36318Z"
            fill="currentColor"></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M21.9073 12.3507C21.9073 17.5829 17.6404 21.8245 12.3768 21.8245C7.1133 21.8245 2.84636 17.5829 2.84636 12.3507C2.84636 7.11844 7.1133 2.87687 12.3768 2.87687C14.3944 2.87687 16.2655 3.50004 17.806 4.56332L20.1329 2.82848C18.0148 1.12156 15.316 0.098877 12.3768 0.098877C5.56988 0.098877 0.0517578 5.5842 0.0517578 12.3507C0.0517578 19.1172 5.56988 24.6025 12.3768 24.6025C19.1838 24.6025 24.7019 19.1172 24.7019 12.3507C24.7019 11.5862 24.6315 10.838 24.4967 10.1123L21.8935 11.8374C21.9027 12.0073 21.9073 12.1785 21.9073 12.3507Z"
              fill="currentColor"></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M21.9073 12.3507C21.9073 17.5829 17.6404 21.8245 12.3768 21.8245C7.1133 21.8245 2.84636 17.5829 2.84636 12.3507C2.84636 7.11844 7.1133 2.87687 12.3768 2.87687C14.3944 2.87687 16.2655 3.50004 17.806 4.56332L20.1329 2.82848C18.0148 1.12156 15.316 0.098877 12.3768 0.098877C5.56988 0.098877 0.0517578 5.5842 0.0517578 12.3507C0.0517578 19.1172 5.56988 24.6025 12.3768 24.6025C19.1838 24.6025 24.7019 19.1172 24.7019 12.3507C24.7019 11.5862 24.6315 10.838 24.4967 10.1123L21.8935 11.8374C21.9027 12.0073 21.9073 12.1785 21.9073 12.3507Z"
              fill="currentColor"></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M21.9073 12.3507C21.9073 17.5829 17.6404 21.8245 12.3768 21.8245C7.1133 21.8245 2.84636 17.5829 2.84636 12.3507C2.84636 7.11844 7.1133 2.87687 12.3768 2.87687C14.3944 2.87687 16.2655 3.50004 17.806 4.56332L20.1329 2.82848C18.0148 1.12156 15.316 0.098877 12.3768 0.098877C5.56988 0.098877 0.0517578 5.5842 0.0517578 12.3507C0.0517578 19.1172 5.56988 24.6025 12.3768 24.6025C19.1838 24.6025 24.7019 19.1172 24.7019 12.3507C24.7019 11.5862 24.6315 10.838 24.4967 10.1123L21.8935 11.8374C21.9027 12.0073 21.9073 12.1785 21.9073 12.3507Z"
              fill="currentColor"></path>
        <path
            d="M22.1497 5.0105C22.7264 5.75128 23.2175 6.55733 23.6116 7.42016L12.5019 15.5602L7.85938 12.6652V9.18838L12.5019 12.0805L22.1497 5.0105Z"
            fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="clip0">
          <rect width="174" height="24.6015" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>
</template>

<script>
export default {
  name: "SberCloudLogo",
  props: {
    url: {
      type: String,
      required: false,
      default: 'https://sbercloud.ru/ru'
    }
  }
}
</script>
