<template>
  <v-container id='main'>
    <v-app>
      <v-main>
        <custom-main/>
        <custom-footer/>
      </v-main>
    </v-app>
  </v-container>
</template>

<script>
import LazyComponents from 'apps/common/LazyComponents'

export default {
  name: 'app',
  components: {
    CustomFooter: LazyComponents.CustomFooter,
    CustomMain: LazyComponents.CustomMain,
  },
  mounted() {
    this.$root.$on('title-replace', title => {
      document.title = title
    })
  }
}
</script>

